<!doctype html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40495183-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-40495183-1');
  </script>

  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  {% seo %}
</head>
<body>
  <nav id="navbar">
    <a href="/index.html" id="navbar-logo">Home</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="site">
        {{ content }}
      </div>
    </div>
  </div>
  <footer>
    &copy; Oscar A. Perez — <a href="/privacy.html">Privacy Policy</a> — 🇩🇴 🇺🇸
  </footer>
</body>
</html>
